<form action="/records/{{ record._id }}/edit" method="POST">
  <p>
    <label>名稱*：
      <input type="text" placeholder="name" name="name" value="{{ record.name }}">
    </label>
  </p>
  <p>
    <label>日期*：
      <input type="date" name="date" value="{{ record.date }}">
    </label>
  </p>
  <p>
    <label>類別*：
      <select name="category">
        <option value="家居物業" {{#if record.categoryEN }} selected {{/if}}>家居物業</option>
        <option value="交通出行" {{#if record.categoryEN }} selected {{/if}}>交通出行</option>
        <option value="休閒娛樂" {{#if record.categoryEN }} selected {{/if}}>休閒娛樂</option>
        <option value="餐飲食品" {{#if record.categoryEN }} selected {{/if}}>餐飲食品</option>
        <option value="其他" {{#if record.categoryEN }} selected {{/if}}>其他</option>
      </select>
    </label>
  </p>
  <p>
    <label>金額*：
      <input type="text" placeholder="amount" name="amount" value="{{ record.amount }}">
    </label>
  </p>

  <button type="submit">Save</button>
  <a href="/">back</a>
</form>